.bar-card{
    border: 1px solid red;
    width: 100%;
    height: 40vh;
}

.cursor-pointer{
    cursor: pointer;
}

.row-hover:hover{
    cursor: pointer;
    background-color: #505050;
    color: white;
}

.border-fixed{
    height: 90vh;
    overflow: auto;
}